.idea/*
TestProject.xcodeproj/project.xcworkspace/xcuserdata/jaafar.xcuserdatad/xcschemes/xcschememanagement.plist
TestProject.xcodeproj/xcuserdata/jaafar.xcuserdatad/xcschemes/TestProject.xcscheme
TestProject.xcodeproj/xcuserdata/jaafar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
